@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    background: var(--light);
    font-family: 'Roboto', sans-serif;
}

.content-primary{
    color: var(--primary) 
}

.content-secondary{
    color: var(--secondary) 
}

.content-light{
    color: var(--light)
}

li{
    list-style: none;
}