.form-group{
    position: relative;
    display: flex;
    flex-direction: column;

    & > input{
        padding: 0.2rem;
        outline: none;
    }
}

.form-input-upper{
    position: absolute;

    .field-upper{
        position: absolute;
        border: none;
        border-bottom: solid 1px #777;
        background: none;
        z-index: 1;

        &:focus,
        &:valid{
            & ~ .text-upper{
                font-size: 12px;
                transform: translateY(-150%);
            }
        }

        &:focus{
            & .form-group{
                .text-upper{
                    color: aqua;
                }
            }
        }
    }
    
    .text-upper{
        position: absolute;
        transition: 0.5s;
    }

    .field-left{
        position: absolute;
        border: none;
        border-bottom: solid 1px #777;
        background: none;
        z-index: 1;

        &:focus,
        &:valid{
            & ~ .text-upper{
                font-size: 12px;
                transform: translateX(-150%);
            }
        }

        &:focus{
            & .form-group{
                .text-upper{
                    color: aqua;
                }
            }
        }
    }
    .field-down{
        position: absolute;
        border: none;
        border-bottom: solid 1px #777;
        background: none;
        z-index: 1;

        &:focus,
        &:valid{
            & ~ .text-upper{
                font-size: 12px;
                transform: translateY(160%);
            }
        }

        &:focus{
            & .form-group{
                .text-upper{
                    color: aqua;
                }
            }
        }
    }
}
