.form-group{
    position: relative;
    margin: 1rem;
    width: 100%;
}

.text-input{
    left: 0;
    bottom: 0;
    position: absolute;
    transition: 0.5s;
}

.field{
    border: none;
    border-bottom: solid 1px #777;
    background: none;
    outline: none;
    padding: 0.2rem;
    width: 80%;

    &-upper{
        &:focus{
            border-bottom-color: $primary-color;

            & ~ .text-input{
                font-size: 12px;
                transform: translateY(-150%);
            }
        }

        &:valid{
            & ~ .text-input{
                font-size: 12px;
                transform: translateY(-150%);
            }
        }
    }
        
    &-left{
        &:focus{
            border-bottom-color: $primary-color;

            & ~ .text-input{
                font-size: 12px;
                transform: translateX(-110%);

                &::after{
                    content: ":";
                }
            }
        }

        &:valid{
            & ~ .text-input{
                font-size: 12px;
                transform: translateX(-110%);

                &::after{
                    content: ":";
                }
            }
        }
    }

    &-down{
        border: none;
        border-bottom: solid 1px #777;
        background: none;
    
        &:focus{
            border-bottom-color: $primary-color;
            
            & ~ .text-input{
                font-size: 12px;
                transform: translateY(160%);
            }
        }

        &:valid{
            & ~ .text-input{
                font-size: 12px;
                transform: translateY(160%);
            }
        }
    }
}

